:root {
	--husky-purple: #732c70;
	--husky-gold-yellow: #f8da07;
	--huksy-gold-orange: #ff7f27;
	--husky-accent-purple: #bc32b1;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	border: none;
	overflow: hidden;
}

header {
	position: relative;
	width: 100%;
	padding: 12px 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--husky-gold-yellow);
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo img {
	position: absolute;
	left: 0;
	bottom: 0;
	width: auto;
	height: 100%;
	max-height: 96px;
	transform: scaleX(-1);
}

nav { display: flex }

nav input, nav select {
	padding: 6px 6px;
	border: 2px solid black;
	font-size: 14px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inactive { display: none }
